


.modal-content{
    background-color: #C07F49;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
}

.formlogingroup input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.formlogingroup::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.formlogingroup#user-group::before{
    content: "\f007";
}

.formlogingroup#contrasena-group::before{
    content: "\f023";
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}


