/* ---------------- COLORES -------------------*/
.color-marron          { background: #C07F49; }
.dark-primary-color    { background: #FFA000; }
.default-primary-color { background: #FFC107; }
.light-primary-color   { background: #FFECB3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD;}
.fondoRosa             { background: #fff1e5; }
.fondoRosaClaro         { background: #fffbf7; }
.dark-primary           { color: #FFA000; }
.color-marron-letra          { color: #C07F49; }
.gradiente {
    background: rgb(192,127,73);
    background: linear-gradient(180deg, rgba(192,127,73,1) 7%, rgba(255,255,255,1) 100%);
}
.gradiente2 {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(192,127,73,1) 100%);
}
.gradiente3 {

    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,241,229,1) 100%);
}
.gradienteNaranjaClaro {
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,222,179,1) 100%);
}
.fondoNaranjaClaro {

    background-color: wheat;
}
/*--------------------------------------------*/


/* ---------- ESTILOS producto.html ----------*/

.botonMasMenos {
    width: 15px;
}
.sombraCaja {
    box-shadow: -5px 4px 10px 0px rgba(0,0,0,0.75);
}
.tamanioLogo {
    width: 50%;
}
/*--------------------------------------------*/




/*-----------ESTILOS vistaCarrito.html-------*/

.tamanioArticulo {
    
    max-width: 100px;
    
}
.tamanioIconos {
    width: 10%   ;  
}

.tituloArticulo {

    color: #C07F49;
}

a:hover {
    text-decoration: none;
    color: none;
  }

/*-----------------ESTILO LINKS-----------------*/

.estiloLink1 {
    text-decoration:none;
    color:white;
}

/*--------------------------------------------*/

/*-----------------CSS MALENA -------------------*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#registro {
    margin: 9px;
    float: right;
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 100%;  
    clear: both;
    border-color:black;
}

#inicio {
    margin: 9px;
    float: left;
    padding: 10px;
    font-family: 'Kaushan Script', cursive;
    font-size: 100%;
    border-color:black;  
}

#logo {
    float: left;
    width:100%; 
    height:auto;
    margin: 0 auto;
    border: black 2px solid;
    clear: both;
}

.navegación {
    margin-top: 9px;
    position: absolute;
    overflow: hidden;
    float: left;
    border-color: rgb(192, 127, 73);
    text-align: center;
    width:100%;
}

#navegación a {
    margin-top: 5%;
    float: right;
    position: relative;
    width: 100%;
    border-color:black;
    text-align: center;
}

.sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-171px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
}
.sticky li:hover{
    margin-left:-150px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
}
.sticky li p a:hover{
    text-decoration:underline;
}
@media (min-width: 992px) { 
    #botonescuenta{
        float: right;
        margin-left: 45%;
        margin-top: 10%;
        position: relative;
        border-color: black;
        text-align: center;
        width:39%;
        z-index: 100;
    }
    #registro {
        margin-top: 5%;
        margin-right: 15%;
        float: left;
        position: relative;
        width: 30%;
        border-color:black;
        text-align: center;
    }

    #inicio {
        margin-top: 5%;
        margin-right: 15%;
        float: right;
        position: relative;
        width: 30%;
        border-color:black;
        text-align: center; 
    }

    #logo {
        float: left;
        position: fixed;
        margin-bottom: 2%;
        width:50%; 
        height:auto;
        margin-left: 1px;
        z-index: -100;

    }
    #navegación{
        float: right;
        margin-left: 45%;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;
        border-color: black;
        text-align: center;
        width:40%;
        z-index: 100;
    }

    #navegación a {
        margin-top: 5%;
        margin-right: 15%;
        float: right;
        position: relative;
        width: 80%;
        border-color:black;
        text-align: center;
    }
}